body{
    padding: 0;
    margin: 0 ;
}
.col-75{
    width: 1000px;
    flex-direction: row;
}
body{
    background-color: #d4814a;
}
.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.header_container img{
    width: 150px;
    height: 150px;
}
.container_contatos{
    width: 100px;
    
}

a{
    color: rgb(158, 75, 8);
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: rgb(243, 169, 100);
}
.col-20{
    width: 200px;
}
.col-100_doces{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px black;
}
.col-100_doces img{
padding-top: 10px;
  border-radius: 25px;
}
.navegation{
    gap: 30px;
}
.col-100_doces img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}


